# 50_Startups

**Linear Regression:**
XYZ is a venture capital firms in the US. They are planning to invest in some of the potential startups across the US. They have already invested in around fifty startups in Florida, Newyork and California. You are a data analyst at XYZ and you have been asked to build a model that predicts the profitability of the firmâ€™s future investments. Below is the snapshot of the data you have.

In [ ]:
# Suppressing Warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Importing Pandas and NumPy
import pandas as pd, numpy as np

In [ ]:
md = pd.read_csv("50_Startups.csv")

In [ ]:
md.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
md.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [ ]:
dummy = pd.get_dummies(md.State, drop_first = True)
dummy.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [ ]:
md = pd.concat([md, dummy], axis = 1)
md.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,1
1,162597.70,151377.59,443898.53,California,191792.06,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,1,0

In [ ]:
md = md.drop(["State"], axis = 1)
md.head()

<hi>Test Train Split<hi>

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# from sklearn.model_selection import train_test_split

# We specify this so that the train and test data set always have the same rows, respectively
# np.random.seed(0)
md_train, md_test = train_test_split(md, train_size = 0.7, test_size = 0.3, 
                                     random_state = 100)
print(md_train.shape)
print(md_test.shape)

<hi>Looking for Correlations<hi>

In [ ]:
# Importing matplotlib and seaborn
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Let's see the correlation matrix 
plt.figure(figsize = (20,10))        # Size of the figure
sns.heatmap(md_train.corr(),annot = True)
plt.show()

In [ ]:
md["Profit"].skew()

In [ ]:
md_train.describe()